`Họ và tên: Nguyễn Trung Kiên`

`MSSV: 21521024`

`Lớp: CS116.O11`

## Bài 1: Các Thao Tác Cơ Bản trên Dữ Liệu

Trong bài này, chúng ta sẽ sử dụng thư viện `pandas` và `openpyxl`.

Nếu bạn đang làm việc trên máy tính cá nhân và muốn cài đặt các thư viện này, hãy mở cửa sổ `Terminal` và chạy lệnh sau: `pip install pandas==2.1.1 openpyxl==3.1.2`.

In [98]:
### BEGIN SOLUTION
import pandas as pd
### END SOLUTION

### 1. Đọc dữ liệu từ tệp CSV

Sử dụng phương thức `read_csv()` của thư viện `pandas` để đọc dữ liệu từ tệp tin tại đường dẫn `'heart.csv'` và lưu vào một biến DataFrame có tên là `df_csv`.

In [99]:
### BEGIN SOLUTION
df_csv = pd.read_csv('heart.csv')
### END SOLUTION

### 2. Đọc dữ liệu từ tệp XLSX

Sử dụng phương thức `read_excel()` của thư viện `pandas` để đọc dữ liệu từ tệp tin tại đường dẫn `'heart.xlsx'` và lưu vào một biến DataFrame có tên là `df_xlsx`.

In [100]:
### BEGIN SOLUTION
df_xlsx = pd.read_excel('heart.xlsx')
### END SOLUTION

In [101]:
assert 'df_csv' in globals()
assert 'df_xlsx' in globals()

In [102]:
### BEGIN HIDDEN TESTS
assert df_csv.iloc[0, 6] == 1
assert df_csv.iloc[0, 6].dtype == 'int64'
assert df_csv.iloc[0, 4] == 145
### END HIDDEN TESTS

### 3. Xoá Dữ Liệu

Để tiếp tục thực hiện các thao tác xử lý dữ liệu, chúng ta sẽ sử dụng bộ dữ liệu được lưu trong biến `df_csv`.

In [103]:
df_csv.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No

Bước đầu, chúng ta sẽ kiểm tra số hàng và số cột trong DataFrame `df_csv`.

In [104]:
df_csv.shape

(50, 15)

Loại bỏ cột `Unnamed: 0` từ DataFrame `df_csv` bằng cách sử dụng phương thức `drop`, sau đó lưu kết quả vào biến `df_csv_after`. Lưu ý rằng, dữ liệu của biến `df_csv` phải được giữ nguyên.

In [105]:
### BEGIN SOLUTION
df_csv_after = df_csv
df_csv_after = df_csv_after.drop(columns = ['Unnamed: 0'])
### END SOLUTION

In [106]:
assert df_csv_after.shape == (50, 14)

### 4. Thêm Dòng

In [107]:
df_csv_after.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No

In [108]:
new_row = pd.DataFrame([{'Age': 18, 'Sex': 1, 'ChestPain': 'typical', 'RestBP': 144, 'Chol': 231, 'Fbs': 1, 'RestECG': 2, 'MaxHR': 150, 'ExAng': 1, 'Oldpeak': 2.4, 'Slope': 1, 'Ca': 3, 'Thal': 'normal', 'AHD': 'No'}])

Thêm dòng `new_row` vào cuối DataFrame `df_csv_after` bằng phương thức `concat` của thư viện `pandas` với tham số `ignore_index=True`, sau đó gán lại vào biến `df_combined`. Đảm bảo rằng dữ liệu của biến `df_csv_after` được giữ nguyên.

In [109]:
### BEGIN SOLUTION
df_csv_after = pd.concat([df_csv_after, new_row], ignore_index = True)
df_combined = df_csv_after

### END SOLUTION
df_combined.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
46,51,1,nonanginal,110,175,0,0,123,0,0.6,1,0,normal,No
47,50,1,asymptomatic,150,243,0,2,128,0,2.6,2,0,reversable,Yes
48,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1,normal,No
49,53,1,nonanginal,130,197,1,2,152,0,1.2,3,0,normal,No
50,18,1,typical,144,231,1,2,150,1,2.4,1,3,normal,No

In [110]:
### BEGIN HIDDEN TESTS
assert df_combined.shape == (51, 14)
assert (df_combined.iloc[-1] == new_row.iloc[-1]).all()
### END HIDDEN TESTS

### 5. Thêm cột

In [111]:
df_combined.shape

(51, 14)

Chúng ta sẽ tạo một mảng gồm 51 phần tử (tương ứng với số hàng của DataFrame).

In [112]:
import numpy as np
np.random.seed(0)
new_col = np.random.randint(5, size=51)
new_col

array([4, 0, 3, 3, 3, 1, 3, 2, 4, 0, 0, 4, 2, 1, 0, 1, 1, 0, 1, 4, 3, 0,
       3, 0, 2, 3, 0, 1, 3, 3, 3, 0, 1, 1, 1, 0, 2, 4, 3, 3, 2, 4, 2, 0,
       0, 4, 0, 4, 1, 4, 1])

Thông thường, để thêm cột có hai cách chính:
1. Thêm trực tiếp vào DataFrame.
2. Sử dụng phương thức `insert` của DataFrame.

**5.1. Thêm trực tiếp**

Ở đây, ta sẽ thêm trực tiếp cột `new_col` vào cuối DataFrame với nhãn là `new`. Dòng lệnh bắt buộc phải được bắt đầu bằng `df_combined['new'] = ` và biểu thức bên phải dấu bằng tuỳ thuộc vào cách thực hiện của bạn.

In [113]:
### BEGIN SOLUTION
df_combined['new'] = new_col

### END SOLUTION
df_combined.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new
46,51,1,nonanginal,110,175,0,0,123,0,0.6,1,0,normal,No,0
47,50,1,asymptomatic,150,243,0,2,128,0,2.6,2,0,reversable,Yes,4
48,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1,normal,No,1
49,53,1,nonanginal,130,197,1,2,152,0,1.2,3,0,normal,No,4
50,18,1,typical,144,231,1,2,150,1,2.4,1,3,normal,No,1

In [114]:
assert df_combined.shape == (51, 15)

In [115]:
### BEGIN HIDDEN TESTS
assert df_combined.columns[2] == 'ChestPain'
assert df_combined.iloc[50, 14] == 1
assert df_combined['new'][50] == 1
assert df_combined.columns[14] == 'new'
### END HIDDEN TESTS

**5.2. Thêm bằng phương thức `insert` của DataFrame**

Sử dụng phương thức `insert` có lợi ích là bạn có thể chỉ định vị trí cụ thể của cột mà bạn muốn thêm. Ở đây, chúng ta sẽ thêm cột `new_col` vào vị trí thứ 2 của DataFrame `df_combined` với nhãn là `new_col_1`.

Lưu ý rằng, khi sử dụng phương thức `insert`, bạn không cần phải gán lại giá trị cho DataFrame, tức là phương thức này sẽ không trả về giá trị nào.

In [116]:
### BEGIN SOLUTION
df_combined.insert(2, 'new_col_1', new_col)
### END SOLUTION
df_combined.head()

,Age,Sex,new_col_1,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new
0,63,1,4,typical,145,233,1,2,150,0,2.3,3,0,fixed,No,4
1,67,1,0,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes,0
2,67,1,3,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes,3
3,37,1,3,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No,3
4,41,0,3,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No,3

In [117]:
### BEGIN HIDDEN TESTS
assert df_combined.columns[2] == 'new_col_1'
assert df_combined['new_col_1'][0] == 4
### END HIDDEN TESTS

### 6. Thay Đổi Giá Trị trong DataFrame

Để thay đổi giá trị trong DataFrame, chúng ta sử dụng phương thức `iloc` hoặc `at` của DataFrame.

- Sử dụng phương thức `iloc`, bạn cần chỉ định hai số tương ứng với vị trí hàng và cột của giá trị cần thay đổi.

- Sử dụng phương thức `at`, bạn cần truyền chính xác tên hàng và tên cột.

- Đối với phương thức `iloc`, nếu bạn muốn lấy giá trị của toàn bộ hàng, bạn chỉ cần truyền vào hàng đó mà không cần truyền vào cột. Ngược lại, nếu bạn muốn lấy toàn bộ cột, bạn chỉ cần truyền vào cột đó và đặt dấu `:` trước dấu `,`.

Để thay đổi giá trị, bạn chỉ cần gán giá trị mới vào vị trí tương ứng.

In [118]:
print(df_combined.iloc[0, 0])
df_combined.at[0, 'Age']

63

63

In [119]:
np.random.seed(1)
change_val = np.random.randint(5, size=51)
change_val

array([3, 4, 0, 1, 3, 0, 0, 1, 4, 4, 1, 2, 4, 2, 4, 3, 4, 2, 4, 2, 4, 1,
       1, 0, 1, 1, 1, 1, 0, 4, 1, 0, 0, 3, 2, 1, 0, 3, 1, 1, 3, 4, 0, 1,
       3, 4, 2, 4, 0, 3, 1])

Thay đổi giá trị của cột có tên là `'new'` của DataFrame `df_combined` bằng giá trị từ danh sách `change_val`.

In [120]:
### BEGIN SOLUTION
df_combined['new'] = change_val
### END SOLUTION

In [121]:
### BEGIN HIDDEN TESTS
a = df_combined.iloc[:, -1]
assert a.sum() == change_val.sum()
### END HIDDEN TESTS